.BookTable {
    margin: 0 auto;
    max-width: 450px;
}
  
.BookTableTitle {
    font-weight: 500;
    font-size: 36px;
    color: #f7dfdf;
    text-shadow:0px 1px 15px #fdec6e;
}

.BookTableForm {
    text-align: center;
    padding: 15px;
    margin: 35px auto 25px auto;
    display: grid;
    background-color: #141a1f;
    background-size: cover;
    place-items: center;
    border-radius: 25px;  
    gap: 5px;
}


.SumbitTableBooking {
margin-top: 10px;
align-self: center;
justify-self: center;
width: 160px;
font-size: 16px;
font-weight: 600;
color: #fff;
cursor: pointer;
height: 55px;
text-align:center;
text-decoration: none;
border: none;
background-size: 300% 100%;
border-radius: 50px;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.SumbitTableBooking:hover {
background-position: 100% 0;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
transform: scale(1.05);
}

.SumbitTableBooking:focus {
outline: none;
}

.SumbitTableBooking.bn22 {
background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
);
box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}