.MenuNavbar {
    border-radius: 25px;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
    margin: 10% 0 0 5%;
    display: grid;
    grid-template: 30% 70% / 1fr;
    background-color: #141a1f;
    background-size: cover;
    padding: 10px 30px;
    width: 70%;
    height: 100%;
    max-width: 220px;
    max-height: 380px;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 10px;
}

.MenuNavbarLogo {
    max-width: 100px;
    max-height: 100px;

}

.MenuNavbarInner {
    display: grid;
    grid-template-rows: 16.67% * 6;
    width: 100%;
    font-size: 22px;
    place-items: center;
    height: 100%;
}
.MenuNavbarInner a {
    padding-top: 5px 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px groove #FAD02C;
    transition: all .2s;
}

.MenuNavbarInner a:hover {
    transition: all .2s;
    color: #FAD02C;
    border-bottom: none;
    font-size: 1.1em;
}


.MenuNavbarLogo svg {
    transition: transform .4s ease-in-out;
}

.MenuNavbarLogo svg:hover {
    transform: rotate(360deg);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



@media only screen and (max-width: 900px) {
    .MenuNavbar {
        grid-template: 1fr / 1fr;
        margin: 0 auto;
        width: 70%;
        height: 100%;
        max-width: 300px;
        max-height: 140px;
    }

    .MenuNavbarLogo {
        display: none;
    }

    .MenuNavbarInner {
        grid-template: 1fr 1fr / 1fr 1fr 1fr ;
        gap: 6px;
    }
    
    .MenuNavbarInner a {
        height: 60%;
    }
    
  }