.PageNotFound {
    display: grid;
    background:  radial-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
        ), url('../../assets/images/PageNotFound/NotFoundBG.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 250px;
    height: calc(100vh - 7.6em);
    place-items: center;
    display: grid;
    grid-template: 20% 10% 1fr / 1fr;
    color: #fff;
}

.PageNotFoundHeader {
    font-size: 24px;
    background-color: #0c374dc7;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    border: 3px solid #f8df1fc7;
}

.PageNotFoundInner {
    align-self: start;

}

.PageNotFoundInner a {
    display: block;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 3px 0px 15px #0b0535c7;
    transition: all .2s ease-in-out;
    border-radius: 45px;
    padding: 1%;
}

.PageNotFoundInner a:hover {
    transition: all .2s ease-in-out;
    background-color: #1c2e3d;
    text-shadow: 3px 0px 15px #f8df1f;
    color: #dfcf55d8;
    border-style: none;
}

.NotFoundGoToMenu {
    font-size: 35px
}