.PageNotFound {
    display: grid;
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #46189d 12%, transparent 12.5%, transparent 87%, #46189d 87.5%, #46189d), linear-gradient(150deg, #46189d 12%, transparent 12.5%, transparent 87%, #46189d 87.5%, #46189d), linear-gradient(30deg, #46189d 12%, transparent 12.5%, transparent 87%, #46189d 87.5%, #46189d), linear-gradient(150deg, #46189d 12%, transparent 12.5%, transparent 87%, #46189d 87.5%, #46189d), linear-gradient(60deg, #46189d77 25%, transparent 25.5%, transparent 75%, #46189d77 75%, #46189d77), linear-gradient(60deg, #46189d77 25%, transparent 25.5%, transparent 75%, #46189d77 75%, #46189d77);
    background-size: 16px 28px;
    background-position: 0 0, 0 0, 8px 14px, 8px 14px, 0 0, 8px 14px;
    height: calc(100vh - 7.6em);
    place-items: center;
}

.PageNotFoundHeader {
    font-size: 74px;
    color: #04040a;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 0px 3px 22px #ff3bef;
}

.PageNotFoundInner a {
    display: block;
    font-size: 1.6em;
    text-decoration: none;
    text-shadow: 3px 0px 15px #0b0535c7;
    transition: transform .3s ease-in-out;
    border-radius: 45px;
    padding: 1%;
}

.PageNotFoundInner a:hover {
    transition: transform .3s ease-in-out;
    background-color: #180c6880;
    text-shadow: 3px 0px 15px #f8df1f;
    color: #dfcf55d8;
    border-style: none;
    transform: scale(1.05);
}