.Navbar {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 5px;
}


.Navbar a {
    text-decoration: wavy;
    color: #fff;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

.Navbar a:hover {
    transition: ease-in 0.13s;
    font-style: italic;
    color: #FAD02C;
    font-size: 110%;
    background-color: #0b0535c7;
    border-radius: 8px;
    box-shadow:0px 0px 10px #fdec6e;
    padding: 0;
}

@media only screen and (max-device-width: 1200px) {
  .Navbar {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
  
}