
.Visit {
    background:  radial-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ), url('VisitBG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: calc(100vh - 7.6em);
}



.VisitContainer {
  padding-top: 5%;
}