.Header {
    display: grid;
    grid-template-columns: 50% 15% 15% 20%;
    color: #f8f9fa;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
}

.BrandIcon {
    justify-self: start;
}

.HeaderIcon {
    transition: all 0.2s ease-in;
    box-shadow: none;
    border-radius: 90px;

}

.HeaderIcon:hover{
    background-color: #c2b86d6c;
    box-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    transform: scale(1.05);
}

.HeaderText {
    justify-self: end;
}

.HeaderText i {
    color: #FAD02C;
    font-weight: 600;
}


.ChangeUserStateButton, .ShoppingCartButton{
    white-space: nowrap;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0.4em 1em;
    border-radius: 90px;
    transition: all .2s ease-in-out;
    background: transparent;
    color: #fff;
    text-decoration: none;
}

  
.ChangeUserStateButton:hover, .ShoppingCartButton:hover{
background-color: #1a1152da;
box-shadow:0px 1px 10px #fdec6e;
transition: all .2s ease-in-out;
color: #FAD02C;
}




@media only screen and (max-width: 900px) {
    .Header {
        grid-template-columns: 20% 30% 25% 1fr;
        justify-items: center;
    }

    .ShoppingCartIcon {
        display: none;
    }

    .ChangeUserStateButton, .ShoppingCartButton{
        border: 2em;
        font-size: 14px;
        padding: 0.2em 0.6em;
    }
}

