.SignInButton {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7em 1em;
    border-radius: 90px;
    transition: all .2s ease-in-out;
    transform: scale(1);
    background: transparent;
    color: #fff;
}
  
.SignInButton:hover {
background-color: #160875af;
box-shadow:0px 1px 10px #fdec6e;
transition: all .2s ease;
transform: scale(1.05);
color: #FAD02C;
font-size: 17px;
}
